/* Fonts */
@font-face {
    font-family: "Nunito Sans Bold";
    src: url("/fonts/Nunito_Sans/NunitoSans-ExtraBold.ttf");
    font-display: swap;
}

@font-face {
    font-family: 'SBGlyphs';
    src: url('https://starblast.data.neuronality.com/fonts/starblast-glyphs.ttf?v=1');
    font-weight: normal;
    font-style: normal
}

.font-nunito-sans-bold {
    font-family: "Nunito Sans Bold", sans-serif;
}

@font-face {
    font-family: "Nunito Sans";
    src: url("/fonts/Nunito_Sans/NunitoSans-Regular.ttf");
    font-display: swap;
}

.font-nunito-sans {
    font-family: "Nunito Sans", sans-serif;
}

/* Text Styling */

body {
    font-family: "Nunito Sans", sans-serif;
    color: var(--text-color);
    background-color: var(--background-color);
}

h1, h2, h3, h4, h5, b {
    font-family: "Nunito Sans Bold", sans-serif;
}

/* Navbar Styling */

.nav-icon {
    font-size: 1.25rem;
}

.nav-link:hover {
    color: #555555;
    cursor: pointer;
}

/* System List Styling */

.system-list-item:hover {
    border-color: red;
    cursor: pointer;
}

/* System Info Styling */

#systemCopyLink, #systemSpectateButton {
    min-width: 3rem;
    max-width: 3rem;
}

.system-report-card:hover {
    border-color: red;
}

/* Scrollification */

#systemReport, #systemsList, #viewOptions {
    overflow-y: scroll;
}

#settingsModal, #spectatorModal {
    overflow-y: hidden;
}

.analysis-col {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

