<div class="modal" tabindex="-1" id="settingsModal" data-nosnippet>
    <div class="modal-dialog d-flex flex-column min-vh-100 justify-content-center align-items-center">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-check ps-0">
                    <label class="form-check-label" for="preferenceCopyFullLink"><b>Use Full Links</b></label>
                    <input class="form-check-input float-end" type="checkbox" name="preferenceCopyFullLink" id="preferenceCopyFullLink">
                </div>
                <div class="form-check ps-0 <% if (site.mode === "standalone") { %> d-none <% } %>">
                    <label class="form-check-label" for="preferenceCenterMapAsteroids"><b>Center Map on Asteroid Field</b></label>
                    <input class="form-check-input float-end" type="checkbox" name="preferenceCopyFullLink" id="preferenceCenterMapAsteroids">
                </div>
                <label for="preferenceTheme" class="float-start pt-1"><b>Theme</b></label>
                <select id="preferenceTheme" class="form-select-sm float-end">
                    <option value="./css/themes/default_light.css">Light&nbsp</option>
                    <option value="./css/themes/default_dark.css">Dark&nbsp</option>
                    <option value="./css/themes/dankdmitron/1337.css">1337 by dankdmitron&nbsp</option>
                    <option value="./css/themes/bhpsngum/starblast.css">Starblast by Bhpsngum&nbsp</option>
                    <option value="./css/themes/caramel/blue.css">Blue by Caramel&nbsp</option>
                    <option value="./css/themes/caramel/caramel.css">Caramel by Caramel&nbsp</option>
                    <option value="./css/themes/caramel/pink-purple.css">Pink-Purple by Caramel&nbsp</option>
                    <option value="./css/themes/caramel/purple.css">Purple by Caramel&nbsp</option>
                    <option value="./css/themes/halcyon/elegant.css">Elegant by Halcyon&nbsp</option>
                </select>
            </div>
        </div>
    </div>
</div>