<div class="modal" tabindex="-1" id="settingsModal">
    <div class="modal-dialog d-flex flex-column min-vh-100 justify-content-center align-items-center">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-check ps-0">
                    <label class="form-check-label" for="preferenceCopyFullLink"><b>Copy Full Links</b></label>
                    <input class="form-check-input float-end" type="checkbox" name="preferenceCopyFullLink" id="preferenceCopyFullLink">
                </div>
                <label for="preferenceTheme" class="float-start pt-1"><b>Theme</b></label>
                <select id="preferenceTheme" class="form-select-sm float-end">
                    <option value="/css/themes/default_light.css">Light&nbsp</option>
                    <option value="/css/themes/default_dark.css">Dark&nbsp</option>
                </select>
            </div>
        </div>
    </div>
</div>