<div class="modal" tabindex="-1" id="shareGameModal" data-nosnippet>
    <div class="modal-dialog d-flex flex-column min-vh-100 justify-content-center align-items-center">
        <div class="modal-content">
            <div class="modal-body">
                <h5 class="text-center">Share Custom Game</h5>
                <label for="customGameLinkInput" class="d-none"></label>
                <div class="input-group">
                    <input type="text" id="customGameLinkInput" class="form-control" autocomplete="off" autocapitalize="off" placeholder="https://starblast.io/#1234@123.123.123.123">
                    <button class="btn btn-danger" id="shareCustomGame"><i class="bi bi-arrow-bar-right"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>