<div class="modal" tabindex="-1" id="spectatorModal" data-nosnippet>
    <div class="modal-dialog mt-0 modal-xl d-flex flex-column min-vh-100 justify-content-center align-items-center">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="spectatorModalTitle">Spectating: ???</h5>
            </div>
            <div class="modal-body">
                <div class="row" id="spectateRow">
                    <div class="col-sm-6 px-0">
                        <canvas id="spectatorCanvas"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>